body{
  background: #9ED2E8; 
  font-family: "Press Start 2P";
}
.center{
  text-align:center;
}
nav .rainbow{
  width: 25rem; 
}

nav .avatar{ 
  margin-left: .8%; 
  margin-top: -2%;
  height: 10rem; }

nav .cloud1{
  margin-left: 25%;
  width: 25rem;
}
nav .cloud2{
  margin-left: 45%;
  width: 25rem;
}

nav h1{
  text-align:center;
  font-size: 2rem; 
  margin-top: -.25rem; }

nav a{
  text-decoration: none;
  color: black; 
  font-size: 1.5rem;
  margin-left: 3rem;
}

nav .navbar{
  text-align: center;
}

@media only screen and (max-width: 500px){
 nav .rainbow{
  margin-left: 1rem; 
}

nav .avatar{ 
  margin-left: 5rem; 
  margin-top: -2.25rem; }

nav .cloud1{
  margin-left: 5rem;
}
nav .cloud2{
  margin-left: 10rem;
}

}

.avatar-pages{
  margin-left: 5.4%;
  margin-top: 0rem;
  height: 3.2rem;
}

.rainbow-pages{
  margin-top: .15%; 
  margin-left: 5%;
  height:2rem; 
}

.menu{
  margin-left: 7rem; 
  margin-top: -2%; 
  font-size: 1.25rem;
  display: flex;
  flex-direction: row; 
}
#about-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:300;
   margin-left: 5rem; 
   margin-right: 5rem; 
}


.social-icon{
  height: 3rem; 
}

.buffer{
  margin-left:-2rem;
}

.last{
  margin-right: 3rem;
}

  .social-icons{
    text-align:center; 
  }


.links{
  text-decoration:none; 
  color: black; 
  font-weight:500;
}

.co-icons{
  margin-right: 5%;
}
#sp2021{
  display: none; 
}

#f2020{
  display: none; 
}

#sum2020{
  display: none; 
}



#web_dev{
  display: inline;
}
#python{
  display: inline;
}
#data_sci{
  display: inline;
}

#neurosight{
  display: none; 
}

#qwr{
  display: none; 
}

#renew{
  display: none; 
}

#climate_clock{
  display: none; 
}
.filterDiv {
  display: none;
}

.filterDiv img{
  height: 40%;
  margin-bottom: 1rem; 
}

.show {
  display: inline;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #E7F4F9;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.btn:hover {
  background-color: #ECE7F9;
}




.tooltip .tooltiptext {
  display: none;
}
@media only screen and (min-width: 1000px){
  .tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: 'Noto Sans KR', sans-serif;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
}