ul {
    list-style-type: none; 
}

h1 {
    font-family:'Archivo Black';  
    text-transform: lowercase;
}
h2 { 
    font-family:'Archivo Black';  
    text-transform: lowercase;
}
p{ 
    text-transform: lowercase;
}
a{
    text-decoration: none;
    color: black; 
}
.n{
    font-weight: bold;
}
.n:visited{ 
    color: #2E86C1; 
}
 .header{
    font-family:'Archivo Black';
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

  }

  .header:hover {
    background-color: lightblue;
    color: white;
    text-decoration: none;
  }

  .content {
    padding: 16px;
   
  }
  
  .sticky {
    position: fixed;
    top: 0; 
    width: 100%; 
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .stickyHeader{
      background-color:#2E86C1;
      padding: 10px 16px;
      display: inline-block;
  }
  .stickysMom{
    text-align: center; 
  }

  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  