
a{
text-decoration: none;
color: #677284;
}
h1{
    padding-right: 3rem;
}

h2{
    color: #5C8AD0;
}

p{
    font-size: 1.25rem;
}

.socials{
   text-align: right
}
.social_icons{
    height: 3rem;
}
